.select-flight {

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: auto auto;
    }

    &__header {
        display: flex;
        align-items: center;
        width: 480px;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__full-width {
        width: 100%;
    }
}