<section class="resume">
    <div class="column">
        <h1>Resumen de compra</h1>
        <h2>
            {{flightData().passengersNumber > 1 ? 'Vuelos' : 'Vuelo'}}
        </h2>
        <fb-flight-resume
            [arrivedHour]="flightData().departFlightInfo?.arrivedHour"
            [destiny]="flightData().destiny.value"
            [flightDate]="flightData().departDate"
            flightType="Ida"
            [operator]="flightData().departFlightInfo?.operator"
            [origin]="flightData().origin.value"
            [takeOffHour]="flightData().departFlightInfo?.takeOffHour"
        ></fb-flight-resume>
        @if (flightData().tripWay === 'roundtrip') {
            <fb-flight-resume
                class="mt-16"
                [arrivedHour]="flightData().returnFlightInfo?.arrivedHour"
                [destiny]="flightData().origin.value"
                [flightDate]="flightData().returnDate"
                flightType="Vuelta"
                [operator]="flightData().returnFlightInfo?.operator"
                [origin]="flightData().destiny.value"
                [takeOffHour]="flightData().returnFlightInfo?.takeOffHour"
            ></fb-flight-resume>
        }
        <div class="row center mt-16">
            <mat-icon
                aria-hidden="false"
                aria-label="Número de pasajeros"
                fontIcon="person"
            ></mat-icon>
            <span class="ml-8">{{flightData().passengersNumber}}</span>
        </div>
        <div class="row space-between mt-16">
            <span class="total-typography">Total a pagar</span>
            <div class="row">
                <span>USD</span>
                <span class="money-typography ml-8">{{totalAmount() | currency:'USD':''}}</span>
            </div>
        </div>
        
    </div>
</section>
