/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.full-width {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.normal-typography {
    font-size: 16px;
    position: relative;
    color: #1b1b1b;
}

.hour-typography {
    font-size: 20px;
    position: relative;
    color: #1b1b1b;
    font-weight: 700;
}
