@if (screenStatus === 'normal') {
    <section class="take-off mt-16">
        <fb-header title="Seleccionar vuelos" (back)="back()"></fb-header>
        <div class="row center mt-16">
            <mat-icon
                aria-hidden="false"
                aria-label="Ida"
                fontIcon="flight_takeoff"
            ></mat-icon>
            <span class="route-text ml-8">Ida: {{fbService.flightBookingForm.origin.value}} a {{fbService.flightBookingForm.destiny.value}}, {{fbService.flightBookingForm.departDate | date:'longDate' }}</span>
        </div>
        @for(flight of originFlights; track flight.id) {
            <div class="mt-16">
                <fb-hour-cost-flight 
                [arrivedHour]="flight.arrivedHour" 
                [destinyIata]="flight.destinyIata"
                [durationTime]="flight.durationTime"
                [flightCost]="flight.flightCost"
                [isSelected]="flight.isSelected"
                [operator]="flight.operator"
                [originIata]="flight.originIata"
                [takeOffHour]="flight.takeOffHour"
                (selectFlightEvent)="onDepartFlightSelected(flight)"></fb-hour-cost-flight>
            </div>
        }
        @if (showReturnSection && fbService.flightBookingForm.tripWay === 'roundtrip'){
            <div class="row center mt-16">
                <mat-icon
                    aria-hidden="false"
                    aria-label="Vuelta"
                    fontIcon="flight_land"
                ></mat-icon>
                <span class="route-text ml-8">Vuelta: {{fbService.flightBookingForm.destiny.value}} a {{fbService.flightBookingForm.origin.value}}, {{fbService.flightBookingForm.returnDate | date:'longDate' }}</span>
            </div>
            @for(flight of returnFlights; track flight.id) {
                <div class="mt-16">
                    <fb-hour-cost-flight 
                    [arrivedHour]="flight.arrivedHour" 
                    [destinyIata]="flight.destinyIata"
                    [durationTime]="flight.durationTime"
                    [flightCost]="flight.flightCost"
                    [isSelected]="flight.isSelected"
                    [operator]="flight.operator"
                    [originIata]="flight.originIata"
                    [takeOffHour]="flight.takeOffHour"
                    (selectFlightEvent)="onReturnFlightSelected(flight)"></fb-hour-cost-flight>
                </div>
            }
          }
          <button 
          class="full-width button mt-16" 
          mat-flat-button 
          color="primary"
          [disabled]="!fbService.flightBookingForm.returnFlightInfo || !fbService.flightBookingForm.departFlightInfo"
          (click)="next()">Continuar</button>
    </section>
}
@if(screenStatus === 'loading') {
    <fb-loading-screen></fb-loading-screen>
}
